/*google fonts*/
  

/*:root with colors and fonts*/
:root {
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Amatic SC', cursive;
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;    
}

@media (min-width: 600px) {
    #recipes {
        justify-content: space-between;
    }

    .recipe {
        width: 48%;
    }

    .recipe-description {
        display: block;
    }
}

@media (min-width: 960px) {
    .recipe-description {
        display: block;
    }
}

/*resets and global styles*/

img {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-bottom: solid #333 2px;
}

h1, h2 {
    font-family: var(--secondary-font);
}

h1 {
    font-size: 75px;
    padding: 5px;
}

header img {
    height: 100px;
    width: auto;
    padding: 5px;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.search-bar {
    display: flex;
    width: 100%;
    max-width: 400px;
}

#recipes {
    display: flex;
    flex-direction: column;
    border: solid var(--text-dark);
    border-radius: 4px;
}

footer {
    display: flex;
    align-items: center;
}

button {
    justify-content: space-between;
}

article {
    margin: 30px;
}

.tag {
    border: solid var(--text-dark) 2px;
    padding: 2px;
    margin: 5px;
    border-radius: 4px;
    background-color: var(--text-light);
}

.recipe-description {
    display: none;
}

.social {
    justify-content: space-around;
}