/*reset and base styles*/

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  :root {
    --primary-color: #6C584C;
    --secondary-color: #F0EAD2;
    --accent1-color: #A98467;
    --accent2-color: #ADC178;
  
    --heading-font: "Nunito", sans-serif;
    --paragraph-font: "Nunito", sans-serif;
  
    /*--headline-color-on-white: var(--primary-color);
    --headline-color-on-color: white;
    --paragraph-color-on-white: var(--primary-color);
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);*/
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
}

header {
    background-color: var(--accent1-color);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border-bottom: var(--primary-color) solid 5px;
}

header img {
    width: 75px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--secondary-color);
    padding: .25rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    padding: .5rem;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: white;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-weight: bold;
    margin: 1rem;
    padding: .5rem;
    border-top: var(--primary-color) solid 5px;
}

/* typography*/

/*layout containers*/

.container {
    background-color: var(--secondary-color);
    margin: 1rem;
}

/*component styles (.post)*/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: .5rem;
}

.search-bar input {
    padding: 5px;
    border: var(--primary-color) solid 2px;
    border-radius: 5px;
    background-color: white;
    color: var(--primary-color);
}

.search-bar button {
    padding: 5px;
    border: var(--primary-color) solid 2px;
    border-radius: 5px;
    background-color: white;
    color: var(--primary-color);
}

.container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.post {
    display: flex;
    background-color: white;
    padding: 1rem;
    margin-bottom: 30px;
    border-radius: 5px;
    border: var(--primary-color) solid 1px;
}

.post-detail {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
}

.post-content {
    flex: 3;
    border-left: var(--accent2-color) solid 3px;
    padding-left: 1rem;
    padding: 20px;
}

.post-title {
    color: var(--primary-color);
    padding-bottom: 15px;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-body {
    padding: 15px;
}

.sidebar {
    display: none;
}

.social-icons a{
    color: var(--secondary-color);
}

/*media queries*/
@media (min-width: 601px) {
    body {
        max-width: 1023px;
    }
    
    .sidebar {
        display: flex;
        flex-direction: column;
    }

    .about {
        background-color: var(--accent2-color);
        border: var(--primary-color) solid 1px;
        border-radius: 5px;
        padding: 1rem;
    }

    .about h3 {
        text-align: center;
    }

    .about img {
        max-width: 100%;
    }

    .about p {
        background-color: white;
        padding: 5px;
    }

    .query {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        background-color: var(--accent2-color);
        border: var(--primary-color) solid 1px;
        border-radius: 5px;
        padding: 1rem;
    }

    .query input, .query textarea {
        padding: 5px;
        border: var(--primary-color) solid 2px;
    }

    .query button {
        color: black;
        background-color: white;
        padding: 5px 10px;
        border: var(--primary-color) solid 2px;
        border-radius: 5px;
        margin: .5rem 0;
        font-size: 16px;
    }

    .query button:hover {
        background-color: var(--primary-color);
        color: white;
    }
}

@media (min-width: 1024px) {
    body {
        min-width: 1024px;
    }
    
    .sidebar {
        display: flex;
        flex-direction: column;
    }
}
