/*reset and base styles*/

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  :root {
    --primary-color: #6C584C;
    --secondary-color: #F0EAD2;
    --accent1-color: #A98467;
    --accent2-color: #ADC178;
  
    --heading-font: "Nunito", sans-serif;
    --paragraph-font: "Nunito", sans-serif;
  
    /*--headline-color-on-white: var(--primary-color);
    --headline-color-on-color: white;
    --paragraph-color-on-white: var(--primary-color);
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);*/
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
}

header {
    background-color: var(--accent1-color);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border-bottom: var(--primary-color) solid 5px;
}

header img {
    width: 75px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--secondary-color);
    padding: .25rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    padding: .5rem;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: white;
    border-radius: 5px;
}

footer {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-weight: bold;
    margin: 1rem;
    padding: .5rem;
    border-top: var(--primary-color) solid 5px;
}

/* typography*/

/*layout containers*/

.container {
    background-color: var(--secondary-color);
    margin: 1rem;
}

/*component styles (.post)*/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: .5rem;
}

.search-bar input {
    padding: 2px;
    border: var(--primary-color) solid 2px;
    border-radius: 5px;
    background-color: white;
    color: var(--primary-color);
}

.search-bar button {
    padding: 3px;
    border: var(--primary-color) solid 2px;
    border-radius: 5px;
    background-color: white;
    color: var(--primary-color);
}

/*media queries*/

